.other-week {
  display: flex;
  font-weight: lighter;
  background-color: floralwhite;
  justify-content: center;
  align-items: center;
  margin: 20px 0px;
  opacity: 0.6;
  p {
    margin: 0;
  }
}

.this-week {
  display: flex;
  flex-direction: column;
  font-weight: bolder;
  justify-content: center;
   background-color: floralwhite;
  align-items: center;
  }
  .this-week-info{
    display: flex;
}

.this-week {
  flex: 1 1 auto;
  margin: 10px;
  padding: 20px;
  border: 2px solid #f7f7f7;
  text-align: center;
  text-transform: uppercase;
  position: relative;
  overflow:hidden;
  transition: .3s;
  &:after:hover {
    position: absolute;
    transition: .3s;
    content: '';
    width: 0;
    left: 50%;
    bottom: 0;
    height: 3px;
    background: #f7f7f7;
  }
  &:nth-of-type(2):after {
    left: 0;
  }
}
