.other-week {
  display: flex;
  font-weight: lighter;
  background-color: floralwhite;
  justify-content: center;
  align-items: center;
  margin: 20px 0px;
  opacity: 0.6;
  p {
    margin: 0;
  }
}

.this-week {
  display: flex;
  flex-direction: column;
  font-weight: bolder;
  justify-content: center;
   background-color: floralwhite;
  align-items: center;
  .this-week-info{
    display: flex;
  }
}
