.other-week {
  border-radius: 30px;
  background: linear-gradient(145deg, #d2d4d5, #f9fdfe);
  box-shadow:  10px 10px 30px #c6c9c9,
               -10px -10px 30px #ffffff;
}

.this-week {
  border-radius: 30px;
  background: linear-gradient(145deg, #d2d4d5, #f9fdfe);
  box-shadow:  10px 10px 30px #c6c9c9,
               -10px -10px 30px #ffffff;
}
.this-week-info{

}

.this-week {
  flex: 1 1 auto;
  margin: 10px;
  padding: 20px;
  border: 2px solid #f7f7f7;
  text-align: center;
  text-transform: uppercase;
  position: relative;
  overflow:hidden;
  transition: .3s;
  &:after:hover {
    position: absolute;
    transition: .3s;
    content: '';
    width: 0;
    left: 50%;
    bottom: 0;
    height: 3px;
    background: #f7f7f7;
  }
  &:nth-of-type(2):after {
    left: 0;
  }
}
