<div class="container col-3">
<div class="text-left m-3 p-2"><strong>Message log</strong></div>
  <div class="cards">
  </div>
  <div class="card my-3">
    <div class="text-left m-3 p-2">
    <%= render 'whiteboard_messages/index', whiteboard_message: @whiteboard_message %>
    </div>
  </div>
</div>
