<div class="row justify-content-center my-3">
  <div class="card" style="width: 500px; height: 500px;">
    <div class="card-header text-center">
      <h3><%= @room_chore.chore.name %> completed?</h3>
    </div>
    <div class="card-body">
    <%= simple_form_for @room_chore do |f| %>
    <%= f.hidden_field :status, value: true %>
    <%= f.input :notes, placeholder: "Enter a note for your chore..." %>
    <% end %>

    <button type="button" id="room-chore-submit" class="btn btn-primary mt-3" data-toggle="modal" data-target="#centralModalSuccess">Completed</button>
    <button onclick="location.href = '/chores';" id="myButton" class="float-left btn btn-primary mt-3" >Return</button>
    </div>
  </div>
</div>
 <% javascript_pack_tag "edit-modal" %>
