<div class="row justify-content-center my-3">
  <div class="card" style="width: 500px; height: 500px;">
    <div class="card-header text-center">
      <h4>Job done!</h4>
    </div>
      <div class="card-body">
        <p>When: <%= @room_chore.period %></p>
        <p>Notes: <%= @room_chore.notes %></p>
      </div>
      <p><%= link_to "Return", chores_path %></p>
  </div>
</div>
