.card-chore-table{
  width: 400px;
  height: 400px;
}

.card-chore-name{
  width: 109px;
  margin-right: 10px;
  margin-left: 10px;
}

.card-header{
  background: #71F79F;
}

.card-body{
  background: #9F9E9E;
}
