.card-chore-table{
  height: 500px;
  h3{ font-size: 16px;
  }
}

.card-chore-name{
  color: #555555;
  width: 109px;
  margin-right: 10px;
  margin-left: 10px;
}
.card-chore-name:hover {
  color: #BBBBBB;
  width: 109px;
  margin-right: 10px;
  margin-left: 10px;
}


.card-header{
  background: #1871BF;
}

.card-body{
  background: #F2F2F2;
}



.card-profile-avatar {
  position: sticky;
  top: 0px;
  margin: 3px 3px 3px 30px;
  background-color: white;
  border-radius: 4px;
  width: 600px;
  height: 100vh;
  box-shadow: 0 0px 9px rgba(0,0,0,0.1)

}

.card-bio {
  padding: 40px 50px 30px 60px;
  margin-left: 130px;
  width: 500px;
  height: 200px;
  box-shadow: 0 0px 15px rgba(0,0,0,0.1);
}
.card-key-icon img {
width: 50px;
height:50px;
}

.fa-pencil-alt {
  text-decoration: none;
  color: black;
}

.card-amenity-profile{
  background: #1871BF;
  display: flex;
  justify-content: center;
  width: 700px;
  height: 70px;
  padding-top: 20px;
}

.card-profile-right {
  margin-top: 3px;
  border-radius: 4px;
  width: 755px;
  box-shadow: 0 0px 9px rgba(0,0,0,0.1)
}

.amenity-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
  box-shadow: 10px;
}

.card-meguro-profile {
width: 300px;
margin-left: 150px;

}

.card-amenity-icon {
display: grid;
grid-template-columns: 1fr 1fr 1fr;
grid-gap: 16px;
}

