.card-chore-table{
  height: 500px;
  h3{ font-size: 16px;
  }
}

.card-chore-name{
  width: 109px;
  margin-right: 10px;
  margin-left: 10px;
}

.card-header{
  background: #71F79F;
}

.card-body{
  background: #D3D3D3;
}

h4 {
  margin: 0;
}
