.wide-container {
  min-height: 30vh;
  min-width: 100%;
}

.container-bio {
  border: 1px solid;
  width: 600px;
  height: 208px;
}

.meguro-container {
    position: absolute;
    top: 0px;
    right: 0px;
    font-size: 30px;
    color: #FFFFEA;
}

.meguro-div {
  position: relative;
}

.house-members-container {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
}
