.container-chore{
width: 580px;
height: 500px;
border-radius: 16px;
display: flex;
justify-content: center;
background-color: white;
padding-top: 32px;
}

.wide-container {
  min-height: 30vh;
  min-width: 100%;
}
