.wide-container {
  // min-height: 30vh;
  min-width: 100%;
  box-shadow: 7px 7px 5px rgba(0, 0, 0, 0.2);
}

.container-profile {
background-color: white;
}

.meguro-container {
  position: absolute;
  top: 0px;
  right: 0px;
  font-size: 30px;
  color: #FFFFEA;
}

.meguro-div {
  position: relative;
}

.house-members-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  width: 80vw;
}
