body {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  p:link{
    text-decoration: none;
  }
  p:hover{
    text-decoration: none;
  }
  p:active{
    text-decoration: none;
  }
}

.flip-box {
  background-color: transparent;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  perspective: 1000px;
}

.flip-box-inner {
  position: relative;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.flip-box:hover .flip-box-inner {
  transform: rotateX(180deg);
}

.flip-box-front, .flip-box-back {
  position: absolute;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-box-front {
  background-color: #bbb;
  color: black;
}

.flip-box-back {
  padding-top: 8px;
  background-color: white;
  color: black;
  transform: rotateX(180deg);
}

.flip-box-back:hover {
  padding-top: 8px;
  background-color: white;
  color: black;
  transform: rotateX(180deg);
}
