.footer {

  background-color: #03457f;
  height: 48px;
  padding: 0px 50px;
  color: #e0dede;
}
.footer-copyright {
  padding-top: 15px;
  display: flex;
  justify-content: center;
}

.footer .fa-heart {
  color: #f1f1f1;
}
