.footer {
  padding: 0px 50px;
  background-color: #03457f;
  height: 48px;
  padding: 0px 50px;
  color: #e0dede;
  min-height: 5vh;
  flex-direction: column;
}

.footer-copyright {
  p {
  padding-top: 15px;
  margin: 0;
  }
  display: flex;
  justify-content: center;
}

.footer .fa-heart {
  color: #f1f1f1;
}
// fix footer
html, body {
  height: 100%;
}
body {
  display: flex;
  flex-direction: column;
}
.content {
  flex: 1 0 auto;
}
.footer {
  flex-shrink: 0;
}
