

<table>
  <thead>
    <th></th>
    <% @room_chores.sort_by { |room_chore| room_chore.room.number }.each do |room_chore| %>
    <th><%= room_chore.room.number %></th>
    <% end %>
  </thead>
  <tbody>
   <% @room_chores.each do |room_chore| %>
   <tr>
    <th><%= room_chore.chore.name %></th>
    <% @rooms.each do |room| %>
    <td><%= "X" if room == room_chore.room %></td>
      <!-- <%# if room == room_chore.room %>
      <td>X</td>
      <%# else  %>
      <td></td>
      <%# end %> -->
    <% end %>
  </tr>
  <% end %>
</tbody>
</table>
