<div class="container">
  <div class="row">
    <div class="col-6">
         <table style="width: 350px; height: 300px;">
      <thead>
        <th></th>
        <% @room_chores.sort_by { |room_chore| room_chore.room.number }.each do |room_chore| %>
        <th><h3 class="d-flex justify-content-center"><%= room_chore.room.number %></h3></th>
        <% end %>
      </thead>
        <tbody>
        <% @room_chores.each do |room_chore| %>
        <tr>
          <th class="border-bottom" data-container="body" data-toggle="popover" data-placement="right" data-content=" <%= room_chore.chore.description %> ">
          <%= room_chore.chore.name %>
          </th>
          <% @rooms.each do |room| %>
          <td class="border-bottom"><%= "X" if room == room_chore.room %></td>
            <!-- <%# if room == room_chore.room %>
            <td>X</td>
            <%# else  %>
            <td></td>
            <%# end %> -->
          <% end %>
        </tr>
        <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
