<div class="container">
  <div class="row">
    <div class="col-6">
      <% @chores.each do |chore| %>
     <h2><%= chore.name %></h2>
     <p><%= chore.description %></p>
       <p><%= chore.frequency %></p>
      <% end %>
    </div>
  </div>
</div>
