<%= simple_form_for(whiteboard_message) do |f| %>
  <%= f.input :message %>
  <%= f.submit "Submit", class: "btn btn-dark" %>
<% end %>

<ul class="my-3">
  <% @messages.each do |message|%>
    <li><%= message.message %></li>
  <% end %>
</ul>
