<ul class="whiteboard-container">
  <div id='adjacent-message-div'></div>
  <% @messages.each do |message|%>
    <%= render 'whiteboard_messages/message_card', message: message %>
  <% end %>
</ul>

<div class="whiteboard-form">
  <%= render 'whiteboard_messages/form', message: WhiteboardMessage.new %>
</div>
